<h3>Search Our Wedding Hashtags!</h3>
<%= form_tag instagram_redirect_path, options: {class: "form-inline", role: "form"} do %>
    <div class="form-group">
      <%= label_tag :tag, "#" %>
      <%= text_field_tag :tag, nil, class: "form-control title-font" %>

      <%= hidden_field_tag :source, "instagram" %>

      <%= submit_tag "Search", class: "btn btn-default btn-sm title-font" %>
    </div>
  <% end %>

  <% if action_name == "search_results" %>
    <div class="panel panel-default panel-change">
      <div class="panel panel-heading">
        <h1 class="center" id="top"><%= @source.capitalize %> results for "<%= @query %>"</h1>
      </div>

      <% if params[:source] == "instagram" %>
        <ul class="search-results">
          <% @results.each do |user| %>
            <li>
              <%= image_tag(user["profile_picture"], class: "img-thumbnail", size: "50x50") %>
              @<%= user["username"] %>

                <%= form_tag subscriptions_path(user) do %>
                  <%= hidden_field_tag :source, "instagram" %>
                  <%= submit_tag "Subscribe", class: "btn btn-success btn-sm" %>
                <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
